.alert {
	&-success {
		a{
			color: $success-text;
		}
		.btn{
			color: #fff;
		}
	}
	&-info {
		a{
			color: $info-text;
		}
		.btn{
			color: #fff;
		}
	}
	&-warning {
		a{
			color: $warning-text;
		}
		.btn{
			color: #fff;
		}
	}
	&-danger {
		a{
			color: $danger-text;
		}
		.btn{
			color: #fff;
		}
	}
}