.badge {
  text-transform: uppercase;
  font-weight: normal;
  font-size: $font-size-extra-small;
}

.badge-default {
  @include badge-variant($badge-default-bg, $brand-normal);
  color: $badge-default-color;
}

.badge-primary {
  @include badge-variant($badge-primary-bg, $badge-primary-bg);
}

.badge-success {
  @include badge-variant($badge-success-bg, $badge-success-bg);
}

.badge-info {
  @include badge-variant($badge-info-bg, $badge-info-bg);
}

.badge-warning {
  @include badge-variant($badge-warning-bg, $badge-warning-bg);
}

.badge-danger {
  @include badge-variant($badge-danger-bg, $badge-danger-bg);
}

.badge-normal {
  @include badge-variant($badge-normal-bg, $badge-normal-bg);
}