//
// Breadcrumbs
// --------------------------------------------------

.breadcrumb {
  a{
    &:hover{
      text-decoration: none;
    }
  }
  &-chevron{
    padding: $breadcrumb-padding-vertical 0;
    > li {
      + li {
        margin-left: -16px;
        &:before{
          content: '';
        }
      }
      > a{
        position: relative;
        padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal/2 $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
        background: $brand-primary;
        border-radius: $border-radius-base 0 0 $border-radius-base;
        color: #fff;
        &:after{
          content: '';
          display: block;
          position: absolute;
          top: -2px;
          margin-top: 1px;
          left: 100%;
          z-index: 2;
          width: 0;
          height: 0;
          border-left: 5px solid $brand-primary;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
        }
        &:before{
          content: '';
          display: block;
          position: absolute;
          top: -2px;
          margin: 1px 0 0 1px;
          left: 100%;
          z-index: 1;
          width: 0;
          height: 0;
          border-left: 5px solid #2496c2;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
        }
      }
    }
    .active{
      padding-left: 17px;
    }
  }
}
