.btn .caret {
  margin-left: 5px;
}

// Split button dropdowns
// ----------------------

// Give the line between buttons some depth
.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 10px;
  border-left: 1px solid;
}

.btn-group{
  > .btn + .btn {
    border-left: 1px solid;
  }
  > .btn-default + .btn-default{
    @include btn-border-left($brand-normal);
  }
  > .btn-primary + .btn-primary{
    @include btn-border-left($brand-primary);
  }
  > .btn-success + .btn-success{
    @include btn-border-left($brand-success);
  }
  > .btn-info + .btn-info{
    @include btn-border-left($brand-info);
  }
  > .btn-warning + .btn-warning{
    @include btn-border-left($brand-warning);
  }
  > .btn-danger + .btn-danger{
    @include btn-border-left($brand-danger);
  }
  > .btn-normal + .btn-normal{
    @include btn-border-left($brand-normal);
  }
}

.btn-group > .btn-lg + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
  border-left: 1px solid;
}

// Vertical button groups
// ----------------------

.btn-group-vertical {
  > .btn,
  > .btn-group,
  > .btn-group > .btn {
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-base);
  }
  .btn + .btn{
  	border-top: 1px solid;
  }
  > .btn-default + .btn-default{
    @include btn-border-top($brand-normal);
  }
  > .btn-primary + .btn-primary{
    @include btn-border-top($brand-primary);
  }
  > .btn-success + .btn-success{
    @include btn-border-top($brand-success);
  }
  > .btn-info + .btn-info{
    @include btn-border-top($brand-info);
  }
  > .btn-warning + .btn-warning{
    @include btn-border-top($brand-warning);
  }
  > .btn-danger + .btn-danger{
    @include btn-border-top($brand-danger);
  }
  > .btn-normal + .btn-normal{
    @include btn-border-top($brand-normal);
  }
}

    