.btn {
	text-transform: uppercase;
	 @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-base, $btn-border-radius-base);

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 2px 1px rgba(0,0,0,.1));
  }
}

.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-base, $line-height-large, $btn-border-radius-large);
}
.btn-sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-extra-small, $line-height-small, $btn-border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-extra-small, $line-height-small, $btn-border-radius-small);
}
.btn-navbar{
  @include button-size($padding-extrasmall-vertical, $padding-extrasmall-horizontal, $font-size-base, $line-height-small, $btn-border-radius-base);
}


.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  &:hover,
  &:focus,
  &.focus {
    @include button-variant(#fff, $gray, $brand-normal);
  }
}
.btn-normal {
  @include button-variant($btn-normal-color, $btn-normal-bg, $btn-normal-border);
}

.btn-primary-outline {
  @include button-variant-outline($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-success-outline {
  @include button-variant-outline($btn-success-color, $btn-success-bg, $btn-success-border);
}
.btn-info-outline {
  @include button-variant-outline($btn-info-color, $btn-info-bg, $btn-info-border);
}
.btn-warning-outline {
  @include button-variant-outline($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
.btn-danger-outline {
  @include button-variant-outline($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

.btn-pill {
  border-radius: 100px;
  background-color: #000;
  background-color: rgba(#000, 0.5);
}
.btn-round{
  border-radius: 0 100px 100px 0;
}