.cards{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.card{
	display: flex;
	flex-direction: column;
	border-radius: $border-radius-base;
	width: 252px;
	box-sizing: border-box;
	margin: 0 15px;
	position: relative;
	.title{
		font-size: 30px;
		color: #fff;
		padding: 18px;
		border-radius: $border-radius-base $border-radius-base 0 0;
		p{
			margin-bottom: 0;
		}
	}
	.month{
		font-size: $font-size-base;
		display: block;
	}
	.plan{
		box-sizing: border-box;
		&-header{
			padding:15px 0 10px;
			margin-left: 20px;
			margin-right: 20px;
		}
		&-content{
			padding: 20px 0 15px;
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
				> li{
					padding: 8px 0;
				}
			}
		}
		&-footer{
			background: $gray-light;
			padding: 20px;
			border-radius: 0 0 $border-radius-base $border-radius-base;
		}
	}
	.btn{
		text-transform: none;
		font-size: $font-size-base;
	}
	&.main-card{
		@include box-shadow(0 0px 8px rgba(0,0,0,.45));
		z-index: 10;
		transform: translateY(4px);
		.title{
			transform: scale(1,1.2258);
		}
	}
	+ .card{
		margin-left: -37px;
	}
}


.card-primary{
	.title{
		@include bg-option($brand-primary);
	}
	.plan{
		background: lighten($brand-primary,40%);
		&-header{
			border-bottom: 1px solid lighten($brand-primary,20%);
		}
	}
}
.card-success{
	.title{
		@include bg-option($brand-success);
	}
	.plan{
		background: lighten($brand-success,40%);
		&-header{
			border-bottom: 1px solid lighten($brand-success,20%);
		}
	}
}
.card-info{
	.title{
		@include bg-option($brand-info);
	}
	.plan{
		background: lighten($brand-info,40%);
		&-header{
			border-bottom: 1px solid lighten($brand-info,20%);
		}
	}
}
.card-danger{
	.title{
		@include bg-option($brand-danger);
	}
	.plan{
		background: lighten($brand-danger,40%);
		&-header{
			border-bottom: 1px solid lighten($brand-danger,20%);
		}
	}
}
.card-warning{
	.title{
		@include bg-option($brand-warning);
	}
	.plan{
		background: lighten($brand-warning,40%);
		&-header{
			border-bottom: 1px solid lighten($brand-warning,20%);
		}
	}
}
.card-normal{
	.title{
		@include bg-option($brand-normal);
	}
	.plan{
		background: lighten($brand-normal,40%);
		&-header{
			border-bottom: 1px solid lighten($brand-normal,20%);
		}
	}
}