/*!
 * jQuery UI Datepicker @VERSION
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/datepicker/#theming
 */
.ui-datepicker {
	width: 320px;
	padding: 22px 20px;
	display: none;
	background: #fd9883;
	color: #fff;
	&-header {
		position: relative;
		padding: .2em 0;
		border-bottom: 2px solid darken(#fd9883, 8%);
	}
	&-prev,
	&-next{
		position: absolute;
		top: -10px;
		width: 34px;
		height: 34px;
		border: 2px solid #fff;
		border-radius: 50%;
		span{
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -8px;
			top: 16px;
			margin-top: -8px;
			width: 9px;
			height: 12px;
		}
	}
	&-prev{
		left: 2px;
	}
	&-next{
		right: 2px;
	}
	&-title{
		margin: -10px 2.3em 0;
		line-height: 34px;
		text-align: center;
		text-transform: uppercase;
		select {
			font-size: 1em;
			margin: 1px 0;
		}
	}
	select{
		&.ui-datepicker-month,
		&.ui-datepicker-year {
			width: 45%;
		}
	}
	table {
		width: 100%;
		font-size: .9em;
		border-collapse: separate;
		margin: 0 0 .4em;
		border-spacing: 0;
	}
	th {
		padding: .7em .3em;
		text-align: center;
		font-weight: normal;
		border: 0;
		text-transform: uppercase;
	}
	td {
		border: 0;
		span,
		a {
			display: block;
			padding: .2em;
			text-align: center;
			text-decoration: none;
			color: #fff;
			line-height: 28px;
			font-size: 14px;
			&.ui-state-default{
				width: 34px;
				height: 34px;
				&.ui-state-active{
					background: #fff;
					width: 34px;
					height: 34px;
					border-radius: 50%;
					color: #ee7f6d;
				}
			}
		}
	}
	&-buttonpane {
		background-image: none;
		margin: .7em 0 0 0;
		padding: 0 .2em;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
		button {
			float: right;
			margin: .5em .2em .4em;
			cursor: pointer;
			padding: .2em .6em .3em .6em;
			width: auto;
			overflow: visible;
			&.ui-datepicker-current {
				float: left;
			}
		}
	}
}





/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi{
	.ui-datepicker-group {
		float: left;
		table {
			width: 95%;
			margin: 0 auto .4em;
		}
		&-last,
		&-middle{
			.ui-datepicker-header{
				border-left-width: 0;
			}
		}
	}
	.ui-datepicker-buttonpane {
		clear: left;
	}
}

.ui-datepicker-multi-2 {
	.ui-datepicker-group {
		width: 50%;
	}
}
.ui-datepicker-multi-3 {
	.ui-datepicker-group {
		width: 33.3%;
	}
}
.ui-datepicker-multi-4 {
	.ui-datepicker-group {
		width: 25%;
	}
}

.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
	.ui-datepicker-prev {
		right: 2px;
		left: auto;
		&:hover{
			right: 1px;
			left: auto;
		}
	}
	.ui-datepicker-next {
		left: 2px;
		right: auto;
		&:hover {
			left: 1px;
			right: auto;
		}
	}
	.ui-datepicker-buttonpane {
		clear: right;
		button {
			float: left;
			&.ui-datepicker-current{
				float: right;
			}
		}
	}
	.ui-datepicker-group {
		float: right;
		&-last,
		&-middle{
			.ui-datepicker-header {
				border-right-width: 0;
				border-left-width: 1px;
			}
		}
	}
}


/* Icons */
.ui-datepicker {
	.ui-icon {
		display: block;
		text-indent: -99999px;
		overflow: hidden;
		background-repeat: no-repeat;
		top: 16px;
		&-circle-triangle-w{
			border-style: solid;
			border-width: 6px 6px 6px 0;
			border-color: transparent #ffffff transparent transparent;
			left: 15px;
		}
		&-circle-triangle-e{
			border-style: solid;
			border-width: 6px 0 6px 6px;
			border-color: transparent transparent transparent #ffffff;
			left: 21px;
		}
	}
}
.ui-datepicker-other-month {
	&.ui-datepicker-unselectable {
		&.ui-state-disabled {
			span{
				&.ui-state-default{
					color: #ee7f6d !important;
				}
			}
		}
	}
}


