.form-control {
  padding: ($padding-base-vertical - 5) ($padding-base-horizontal - 3);
  &-round{
    border-radius: 100px;
    &-btn{
      padding-right: 80px;
    }
  }
}
.form-group{
  position: relative;
  .btn-round{
    position: absolute;
    top: 0;
    right: 0;
    text-transform: none;
  }
}
.form-control-feedback {
  position: absolute;
  top: 41%;
  right: 2%;
}

.has-success {
  @include form-control-validation($state-success-text, $state-success-text, $state-success-bg);
}
.has-warning {
  @include form-control-validation($state-warning-text, $state-warning-text, $state-warning-bg);
}

.has-error {
  @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -25px;
  margin-top: 4px \9;
}
.radio,
.checkbox,
.checkbox-inline,
.radio-inline {
  label {
    padding-left: 5px;
  }
}

input[type="checkbox"]:before,
input[type="radio"]:before {
  content: "";
  text-align: center;
  line-height:19px;
  width: 20px;
  height: 20px;
  border: 1px solid $gray-dark;
  background: #fff;
  color: #fff;
  position: absolute;
  top: -5px;
}
input[type="checkbox"]:checked:before {
  content: '\2714';
  background: $brand-primary;
  border: 1px solid $brand-primary;
}
input[type="checkbox"]:disabled:before,
input[type="radio"]:disabled:before {
  content: "";
  border: 1px solid $gray;
}
input[type="checkbox"]:checked:disabled:before {
  content: '\2714';
  background: $gray;
  border: 1px solid $gray;
}

input[type="radio"]:before{
  border-radius: 50%;
}
input[type="radio"]:checked:before {
  background: #fff;
  border: 1px solid $brand-primary;
}
input[type="radio"]:checked:after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $brand-primary;
  position: absolute;
  top: 15%;
  left: 55%;
}
input[type="radio"]:checked:disabled:before {
  border: 1px solid $gray;
}
input[type="radio"]:checked:disabled:after {
  background: $gray;
}


