// Text input groups
// -------------------------
.input-group-addon {
  padding: ($padding-base-vertical - 5) ($padding-base-horizontal - 3);
  color: #fff;
}
.input-group-btn{
	.btn{
		padding: ($padding-base-vertical - 5) ($padding-base-horizontal - 3);
	}
}