.jumbotron {
  @include box-shadow(0 1px 1px rgba(0,0,0,.16));

  @media screen and (min-width: $screen-sm-min) {
    padding-top:    ($jumbotron-padding * 1.1);
    padding-bottom: ($jumbotron-padding * 1.6);

    .container &,
    .container-fluid & {
      padding-left:  ($jumbotron-padding / 1.25);
      padding-right: ($jumbotron-padding / 1.25);
    }
  }

  &-img{
    padding-top: 0;
    .img-holder{
      margin-left:  (- ($jumbotron-padding / 1.25));
      margin-right: (- ($jumbotron-padding / 1.25));
      margin-bottom: 33px;
      img{
        width: 100%;
      }
    }
    
  }
}