//
// Labels
// --------------------------------------------------

.label {
  text-transform: uppercase;
  font-weight: normal;
  font-size: $font-size-extra-small;
}

// Colors
// Contextual variations (linked labels get darker on :hover)

.label-default {
  @include label-variant($label-default-bg);
  color: $label-default-color;
  border: 1px solid $brand-normal;
}

.label-primary {
  @include label-variant($label-primary-bg);
  border: 1px solid $brand-primary;
}

.label-success {
  @include label-variant($label-success-bg);
  border: 1px solid $brand-success;
}

.label-info {
  @include label-variant($label-info-bg);
  border: 1px solid $brand-info;
}

.label-warning {
  @include label-variant($label-warning-bg);
  border: 1px solid $brand-warning;
}

.label-danger {
  @include label-variant($label-danger-bg);
  border: 1px solid $brand-danger;
}

.label-normal {
  @include label-variant($label-normal-bg);
  border: 1px solid $brand-normal;
}
