.media{
	color: $brand-normal;
	h4, .h4{
		color: #333;
	}
	.date{
		margin-bottom: 15px;
		display: inline-block;
	}
	&-left,
	&-right{
		img{
			border-radius: 3px;
		}
	}
	> ul{
		padding: 0;
		margin: 0;
		& .media {
			padding-left: 74px;
		}
	}
}