$navbar-form-btn-width: 50px;
$navbar-form-radius: $input-height-base;

.navbar{
  &-default{
    color: #26816a;
    a{
      color: #26816a;
    }
  }
  &-inverse{
    color: #8c8c8c;
    a{
      color: #8c8c8c;
    }
  }
  &-form {
    position: relative;
    overflow: hidden;
    .form-control {
      padding-left: $navbar-form-btn-width;
      border-radius: $navbar-form-radius;
    }
    .btn {
      background-color: transparent;
      border: none;
      position: absolute;
      left: $navbar-padding-horizontal;
      top: -5px;
      height: 100%;
      border-radius: $navbar-form-radius;
      width: $navbar-form-btn-width;
      color: $gray-light;
      font-size: $font-size-large - 1;
    }
  }
  .btn{
    &-navbar{
        text-transform: none;
        color: #fff;
        vertical-align: top;
      }
  }
  .signed{
    max-height: $navbar-height - 5px;
    line-height: $navbar-height;
    overflow-y: hidden;
    display: inline-block;
  }
}
