.nav-tabs {
  > li {
    > a {
		background: $gray-light;
      	color: #555;
    }
  }
}


.nav-tabs-justified {
  border-bottom: 0;

  > li > a {
    border-left: 1px solid $gray;
    border-bottom: 1px solid #fff;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: 1px solid #fff;
  }

  @media (min-width: $screen-sm-min) {
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: #fff;
    }
  }
}

.tabset{
	@include box-shadow(0 1px 1px rgba(0,0,0,.18));
}



.tab-content {
	background: #fff;
	padding: 14px 33px 23px 23px;
}

.tabs-left,
.tabs-right{
	> .nav-tabs{
		border-bottom: 0;
		> li {
			float: none;
			margin-bottom: -4px;
			border-top: 1px solid $gray;
			> a{
			    min-width: 74px;
			    margin-right: 0;
			    margin-bottom: 3px;
			}
		}
	}
}

.tabs-left {
	> .nav-tabs {
	    float: left;
	    margin-right: 19px;
	    border-right: 1px solid $nav-tabs-border-color;
	    > li {
	    	> a{
	    		margin-right: -1px;
			    -webkit-border-radius: 4px 0 0 4px;
			    -moz-border-radius: 4px 0 0 4px;
			    border-radius: 4px 0 0 4px;
	    	}
	    }
	    .active {
	    	border-top: 1px solid #fff;
	    	> a{
	    		border-color: $nav-tabs-border-color transparent $nav-tabs-border-color $nav-tabs-border-color;
	    		&:hover{
					border-color: $nav-tabs-border-color transparent $nav-tabs-border-color $nav-tabs-border-color;
	    		}
	    	}
	    }
	}
}

.tabs-right {
	> .nav-tabs{
		float: right;
	    margin-left: 19px;
	    border-left: 1px solid $nav-tabs-border-color;
		> li {
			> a{
				margin-left: -1px;
			    -webkit-border-radius: 0 4px 4px 0;
			    -moz-border-radius: 0 4px 4px 0;
			    border-radius: 0 4px 4px 0;
			}
		}
		.active {
	    	> a{
	    		border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color transparent;
	    		&:hover{
					border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color transparent;
	    		}
	    	}
	    }
	}
}

