.pagination {
  > li {
  	> a,
    > span {
      padding: $padding-extrasmall-vertical ($padding-extrasmall-horizontal - 2);
    }
    &:first-child {
      > a,
      > span {
        @include bg-option($brand-success);
		color: #fff;
		text-transform: uppercase;
		border: 1px solid $brand-success;
      }
    }
    &:last-child {
      > a,
      > span {
        @include bg-option($brand-success);
		color: #fff;
		text-transform: uppercase;
		border: 1px solid $brand-success;
      }
    }
  }
}
