.pager {
  li {
    > a,
    > span {
      color: #fff;
      text-transform: uppercase;
    }

    > a:hover,
    > a:focus {
      text-decoration: none;
      background-color: $pager-hover-bg;
      color: $pager-bg;
    }
  }
  
  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: $pager-disabled-color;
      background-color: $pager-disabled-bg;
      border: 1px solid $gray-light;
    }
  }
}