.panel {
  @include box-shadow(0 1px 1px rgba(0,0,0,.16));
  &.panel-base{
  	background: $panel-base-bg;
  	@include box-shadow(0 0 0 rgba(0,0,0,.16));
  }
}
.panel-default {
	.panel-heading {
		@include box-shadow(0 0 0 1px $gray-light);
	}
}
.panel-primary {
	.panel-heading {
		@include box-shadow(0 0 0 1px $brand-primary);
	}
}
.panel-success {
	.panel-heading {
		@include box-shadow(0 0 0 1px $brand-success);
	}
}
.panel-info {
	.panel-heading {
		@include box-shadow(0 0 0 1px $brand-info);
	}
}
.panel-warning {
	.panel-heading {
		@include box-shadow(0 0 0 1px $brand-warning);
	}
}
.panel-danger {
	.panel-heading {
		@include box-shadow(0 0 0 1px $brand-danger);
	}
}

// Collapsable panels (aka, accordion)

.panel-group {
  .panel {
  	border-radius: $panel-border-radius $panel-border-radius 0 0;
  	.panel-title{
		font-weight: normal;
	}
    + .panel {
      margin-top: 1px;
      .panel-heading {
	    	border-radius: 0;
	    }
    }
	&:last-child {
		border-radius: 0 0 $panel-border-radius $panel-border-radius;
	}
  }
}


.panel-base {
  @include panel-variant($panel-base-border, $panel-base-text, $panel-base-heading-bg, $panel-base-border);
}