.lead {
  font-size: floor(($font-size-base * 1.5));
  font-weight: 400;

  @media (min-width: $screen-sm-min) {
    font-size: ($font-size-base * 1.7143);
  }
}

// Blockquotes
blockquote {
  border-left: 3px solid $blockquote-border-color;

  footer,
  small,
  .small {
    font-size: $font-size-base;
    color: #999;
  }
}