//== Colors
$brand-primary:         #3bafda;
$brand-success:         #8cc152;
$brand-info:            #37bc9b;
$brand-warning:         #f6bb42;
$brand-danger:          #da4453;
$brand-normal:          #aab2bd;



$gray-base:              #434a54;
$gray-darker:            #656d78;
$gray-dark:              #aab2bd;
$gray:                   #ccd1d9;
$gray-light:             #e6e9ed;
$gray-lighter:           #f5f7fa;

//== Scaffolding
$body-bg:               #f1f2f6;
$text-color:            $gray-base;
$link-color-secondary:  $gray-base;
$link-hover-color-secondary:      darken($link-color-secondary, 15%);


//== Typography
$font-family-sans-serif:  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-extra-small:   ceil(($font-size-base * 0.71)); // ~10px

$font-size-h1:            floor(($font-size-base * 3.57)); // ~50px
$font-size-h2:            floor(($font-size-base * 2.857)); // ~40px
$font-size-h3:            ceil(($font-size-base * 2.14)); // ~30px
$font-size-h4:            ceil(($font-size-base * 1.357)); // ~19px
$font-size-h5:            ceil(($font-size-base * 1.286)); // ~18px
$font-size-h6:            $font-size-base; // ~14px

$headings-font-weight:    700;



//== Components
$padding-base-vertical:     12px;
$padding-base-horizontal:   15px;

$padding-large-vertical:    17px;
$padding-large-horizontal:  23px;

$padding-small-vertical:    9px;
$padding-small-horizontal:  13px;

$padding-extrasmall-vertical:    7px;
$padding-extrasmall-horizontal:  13px;

$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px
$line-height-small:         1.3;
$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome

$border-radius-base:        3px;
$border-radius-large:       4px;
$border-radius-small:       2px;

$caret-width-base:          6px;
$caret-width-large:         10px;


//== Buttons
$btn-primary-border:             $brand-primary;
$btn-success-border:             $brand-success;
$btn-info-border:                $brand-info;
$btn-warning-border:             $brand-warning;
$btn-danger-border:              $brand-danger;

$btn-normal-color: 				 #fff;
$btn-normal-bg: 				 $brand-normal;
$btn-normal-border: 			 $brand-normal;

$btn-default-border:             $brand-normal;

//== Forms
$input-bg-disabled:              $gray-light;
$input-border:                   $gray-dark;


//== Labels
$label-default-bg:            #fff;
$label-normal-bg:             $brand-normal;
$label-default-color:         #333;

//== Badges
$badge-default-bg:            #fff;
$badge-primary-bg:            $brand-primary;
$badge-success-bg:            $brand-success;
$badge-info-bg:               $brand-info;
$badge-warning-bg:            $brand-warning;
$badge-danger-bg:             $brand-danger;
$badge-normal-bg:             $brand-normal;
$badge-default-color:         #333;


//== Dropdowns
$dropdown-bg-inverse:            $gray-base;
$dropdown-link-disabled-color:   $gray-darker;


//== Tooltips
$tooltip-bg:                  $gray-base;


//== Popovers
$popover-bg:                  $gray-base;

//== Forms
$input-color:                    $gray-base;
$input-border:                   $gray-dark;
$input-height-base:              ($line-height-computed + ($padding-base-vertical) + 2);
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical) + 2);
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical) + 2);

$input-group-addon-bg:           $gray-dark;
$input-group-addon-border-color: #96a0ad;


//== Form states and alerts
$state-success-text:             $brand-success;
$state-success-bg:               #b9df90;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;
$success-text:                   #3c763d;

$state-info-text:                $brand-info;
$state-info-bg:                  #7cd1ef;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;
$info-text:                      #31708f;

$state-warning-text:             $brand-warning;
$state-warning-bg:               #ffdd87;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;
$warning-text:                   #8a6d3b;

$state-danger-text:              $brand-danger;
$state-danger-bg:                #f2838f;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;
$danger-text:                    #a94442;



//== Alerts
$alert-success-text:          $success-text;
$alert-info-text:             $info-text;
$alert-warning-text:          $warning-text;
$alert-danger-text:           $danger-text;



// Basics of a navbar
$navbar-default-color:             #26816a;
$navbar-default-bg:                $brand-info;
$navbar-default-border:            $brand-info;

// Navbar links
$navbar-default-link-color:                #26816a;
$navbar-default-link-hover-color:          #fff;
$navbar-default-link-hover-bg:             #48cfad;
$navbar-default-link-active-color:         #fff;
$navbar-default-link-active-bg:            #48cfad;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #fff;
$navbar-default-toggle-icon-bar-bg:        $navbar-default-link-color;
$navbar-default-toggle-border-color:       $navbar-default-link-color;


//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      #8c8c8c;
$navbar-inverse-bg:                         #333;
$navbar-inverse-border:                     #333;

// Inverted navbar links
$navbar-inverse-link-color:                 #8c8c8c;
$navbar-inverse-link-hover-bg:              #000;
$navbar-inverse-link-active-color:          #fff;
$navbar-inverse-link-active-bg:             #000;


// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #fff;
$navbar-inverse-toggle-icon-bar-bg:         $navbar-inverse-link-color;
$navbar-inverse-toggle-border-color:        $navbar-inverse-link-color;


//== Tabs
$nav-tabs-active-link-hover-bg:             #fff;
$nav-tabs-active-link-hover-color:          #555;



//== Breadcrumbs
$breadcrumb-bg:                 $gray-light;
$breadcrumb-color:              $gray;
$breadcrumb-active-color:       $gray-base;


//== Progress bars
$progress-bg:                 $gray-light;


//== Pagination
$pagination-color:                     $link-color-secondary;
$pagination-border:                    $gray;

$pagination-hover-color:               $link-hover-color-secondary;
$pagination-hover-bg:                  $gray-lighter !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $brand-success;
$pagination-active-border:             $brand-success;



//== Pager
$pager-bg:                             $brand-success;
$pager-border:                         $brand-success;
$pager-border-radius:                  15px !default;

$pager-disabled-color:                 #e9e9ed;
$pager-disabled-bg:                    #fff;
$pager-disabled-border:                $gray-light;


//== Panels
$panel-body-padding:          19px 15px;

$panel-default-text:          #333;
$panel-default-border:        transparent;
$panel-default-heading-bg:    $gray-light;

$panel-primary-border:        transparent;

$panel-success-text:          #fff;
$panel-success-border:        transparent;
$panel-success-heading-bg:    $brand-success;

$panel-info-text:             #fff;
$panel-info-border:           transparent;
$panel-info-heading-bg:       $brand-info;

$panel-warning-text:          #fff;
$panel-warning-border:        transparent;
$panel-warning-heading-bg:    $brand-warning;

$panel-danger-text:           #fff;
$panel-danger-border:         transparent;
$panel-danger-heading-bg:     $brand-danger;

$panel-base-text:             $gray-base;
$panel-base-border:           transparent;
$panel-base-heading-bg:       transparent;
$panel-base-bg:               transparent;

$panel-light-text:            $gray-base;
$panel-light-border:          transparent;
$panel-light-heading-bg:      #fff;


//== Tables
$table-cell-padding:            8px 14px;


//== Jumbotron

$jumbotron-bg:                   #fff;
$jumbotron-font-size:            $font-size-base;
$jumbotron-heading-font-size:    ceil(($font-size-base * 1.714));

//== Thumbnails
$thumbnail-bg:                #fff;
$thumbnail-border:            transparent;

$thumbnail-caption-color:     #333;
$thumbnail-caption-padding:   18px 8px;


//== Wells
$well-bg:                     #fff;
$well-border:                 transparent;


//== Modals
$modal-md:                    460px;


//== Type
$blockquote-border-color:     $gray;
$blockquote-font-size:        ($font-size-base * 1.7143);



//==Color themes
// @import "themes/theme-lavender/theme-lavender";
// @import "themes/theme-pinkrose/theme-pinkrose";
