@import "custom/custom";
@import "timeline.scss";

.block{
	margin-bottom: 20px;
}

.jq-selectbox {
	padding: 0;
	&__select {
	    height: 32px;
	    padding: 0 45px 0 10px;
	    border: 1px solid #fff;
	    border-bottom-color: #fff;
	    border-radius: 3px;
	    background: #fff;
	    box-shadow: none;
	    color: #333;
	    text-shadow: none;
	    &:hover{
	    	background: #fff;
	    }
	}	
    &__trigger {
	    border-left: 0;
	    &-arrow {
		    border-top: 5px solid #000;
		}
	}
	li{
		&.selected {
		    background-color: $brand-primary;
		}
	}
	&__dropdown {
	    box-shadow: 0 0px 8px rgba(0,0,0,.34);
	    ul{
	    	margin-top: -2px;
	    }
	}
}


.jq-number{
	padding: 0;
	&__field {
	    width: 555px;
	    border: 1px solid #CCC;
	    border-radius: 3px;
	    background: #fff;
	    position: relative;
	}
	&__spin {
	    width: 20px;
	    height: 18px;
	    border: 1px solid $brand-primary;
	    border-bottom-color: darken($brand-primary,8%);
	    border-radius: 0;
	    background: $brand-primary;
	    box-shadow: none;
	    &.minus{
			border-radius: 0 0 3px 0;
			&:after {
				border-top: 3px solid #fff;
			    border-right: 3px solid transparent;
			    border-bottom: none;
			    border-left: 3px solid transparent;
			}
	    }
	    &.plus{
			border-radius: 0 3px 0 0;
			&:after {
				
			}
	    }
	    &:after {
	    	top: 6px;
	    	left: 6px;
			border-right: 3px solid transparent;
			border-bottom: 3px solid #fff;
			border-left: 3px solid transparent;
		}
		&:hover{
			background: $brand-primary;
		}
	}
}
.footer{
	background: $gray-base;
	padding: 35px 67px 35px 35px;
	color: $brand-normal;
	&-holder{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 35px;
		.block-list{
			display: flex;
			flex-direction: column;
			.heading{
				color: #fff;
				font-size: 13px;
				text-transform: uppercase;
			}
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
				> li{
					padding: 8px 0;
					> a{
						color: $brand-normal;
						text-decoration: none;

					}
				}
			}
		}
	}
	
}



