@import "variables";

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?86mwmk');
    src:    url('../fonts/icomoon.eot?86mwmk#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?86mwmk') format('truetype'),
        url('../fonts/icomoon.woff?86mwmk') format('woff'),
        url('../fonts/icomoon.svg?86mwmk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cog {
    &:before {
        content: $icon-cog;
    }
}
.icon-home {
    &:before {
        content: $icon-home;
    }
}
.icon-message {
    &:before {
        content: $icon-message;
    }
}
.icon-user {
    &:before {
        content: $icon-user;
    }
}
.icon-chevron-thin-left {
    &:before {
        content: $icon-chevron-thin-left;
    }
}
.icon-chevron-thin-right {
    &:before {
        content: $icon-chevron-thin-right;
    }
}
.icon-calendar {
    &:before {
        content: $icon-calendar;
    }
}
.icon-news {
    &:before {
        content: $icon-news;
    }
}

