$icomoon-font-path: "fonts" !default;

$icon-cog: "\e900";
$icon-home: "\e901";
$icon-message: "\e902";
$icon-user: "\e903";
$icon-chevron-thin-left: "\e904";
$icon-chevron-thin-right: "\e905";
$icon-calendar: "\e906";
$icon-news: "\e907";

