@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: lighten($background, 8%);
        border-color: lighten($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: lighten($background, 8%);
        border-color: lighten($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: lighten($background, 8%);
        border-color: lighten($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: lighten($background, 8%);
          border-color: lighten($border, 25%);
    }
  }
}




@mixin button-variant-outline($color, $background, $border) {
  color: $background;
  background-color: transparent;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: lighten($background, 10%);
        border-color: lighten($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: lighten($background, 10%);
        border-color: lighten($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: lighten($background, 10%);
        border-color: lighten($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: lighten($background, 17%);
          border-color: lighten($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}


@mixin btn-border-left($color){
  border-left-color: darken($color,6%);
}

@mixin btn-border-top($color){
  border-top-color: darken($color,6%);
}